.container {
    background-color: bisque;
    padding: 20px 150px;
}
.col {
    background-color: rgb(236, 16, 24);
}
.row {
    height: 100px;
    width: 100%;
}
.black {
    background-color: black;
}